---
---

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import "bootstrap";
@import "font-awesome";
@import "syntax-highlighting";

@import 'article';
@import 'jumbotron';
@import 'footer';

%vertical-rhythm {
    margin-bottom: 15px;
}

* {
  font-family: "メイリオ", Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'M+ 1P', sans-serif;
}

body {
  background-color: #f6f7f9;
}

table {
  @extend .table;
  @extend .table-bordered;
}

blockquote {
  @extend .blockquote;
}

.highlight {
  @extend .card;
  @extend .card-block;
  margin: 1rm 0;
}

.highlight pre {
  margin-bottom: 0;
}

.label {
  margin-right: 0.2rem;
}

table.gsc-search-box td {
  border: none;
  padding: 0 !important;
}

.gsc-input {
  padding: 0px !important;
}

input.gsc-search-button-v2 {
  height: 24px !important;
  background: #0275d8 !important;
  padding: 0;
  padding-top: 4px !important;
  width: 68px !important;
  margin-top: 3px !important;
}

.gsc-control-cse {
  background: none !important;
  border: none !important;
}

.gsc-control-cse {
  padding-top: 0px !important;
  padding-button: 0px !important;
}

.gsc-input,
.gsc-search-button {
  padding-top: 0px !important;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
