---
---

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

@import "bootstrap";
@import "font-awesome";
@import "syntax-highlighting";

@import 'article';
@import 'jumbotron';

%vertical-rhythm {
    margin-bottom: 15px;
}

* {
  font-family: "メイリオ", Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'M+ 1P', sans-serif;
}

table {
  @extend .table;
  @extend .table-bordered;
}

.highlight {
  @extend .card;
  @extend .card-block;
  margin: 1rm 0;
}

.highlight pre {
  margin-bottom: 0;
}
