---
layout: default
permalink: /archives
---

%h1.text-xs-center Archives

%ul
{% for post in site.posts %}
  %li
    %a.btn.btn-link(href="{{ post.url | prepend: site.baseurl }}")
      {{ post.title }}
{% endfor %}
