---
layout: post
title: Archive
permalink: /archive/
---

{% assign counter = 0 %}
%div
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%Y/%m" %}
  {% assign next = post.next.date | date: "%Y/%m" %}

  {% assign counter = counter | plus: 1 %}

  %div
  {% if thisyear != next %}
    %h2(id='{{ post.date | date: "%Y-%m" }}')
      {{ thisyear }}
    {% assign counter = 0 %}
  {% endif %}

  .article-item
    %ul.list-inline.article-item__head
      %li
        %i.fa.fa-clock-o.fa-fw
        {{ post.date | date: "%Y/%m/%-d" }}
      %li
        %i.fa.fa-tag.fa-fw
        {{post.category}}

    %p.article-item__body
      %a(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}

{% endfor %}
