---
layout: default
permalink: /archives/
---

.jumbotron
  %h1 Archives
  %a(href='/') blog.amkky.io

%ul
{% for post in site.posts %}
  %li
    %a.btn.btn-link(href="{{ post.url | prepend: site.baseurl }}")
      {{ post.title }}
{% endfor %}
