---
layout: default
permalink: /
---

%section.container
  .col-md-7.col-md-offset-1
    .h4 Latest Posts
    %hr
    %div
    {% for post in site.posts limit:8 %}
      .article-item
        %ul.list-inline.article-item__head
          %li
            %i.fa.fa-clock-o.fa-fw
            {{ post.date | date: "%Y/%m/%-d" }}
          %li
            %i.fa.fa-tag.fa-fw
            {{post.category}}
        %p.article-item__body
          %a(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}
    {% endfor %}

    .text-xs-center
      %hr
      %a.btn.btn-primary(href='/archive/')
        %i.fa.fa-list.fa-fw
        More posts
      %hr

    .text-xs-center.row
      .col-sm-12
        %span!= '<!-- blog.makky.io-top1 --><ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-5501734840184095" data-ad-slot="5117131766"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>'
      .col-sm-12
        %span!= '<!-- blog.makky.io-top2 --><ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-5501734840184095" data-ad-slot="8070598165"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>'

  .col-md-3
    .h4 Categories
    %hr
    %div
    {% for category in site.categories %}
      .label.label-default
        %div {{ category.first }} ({{ category.last.size }})
    {% endfor %}

    %hr
    .h4 Archive
    {% assign counter = 0 %}
    %hr
    %div
    {% for post in site.posts %}
      {% assign thisyear = post.date | date: "%Y %m" %}
      {% assign prevyear = post.previous.date | date: "%Y %m" %}
      {% assign counter = counter | plus: 1 %}
      %div
      {% if thisyear != prevyear %}
        %li
          %a(href='/archive/#{{ post.date | date:"%Y-%m" }}') {{ thisyear }} ({{ counter }})
        {% assign counter = 0 %}
      {% endif %}
    {% endfor %}
