---
layout: default
permalink: /
---

.jumbotron
  .row
    %h1 blog.makky.io
    %p makky's diary

.col-xs-12
  .card-columns
  {% for post in site.posts limit: 16 %}
    .card
      %img.card-img-top(src="{% if post.thumbnail %}{{ post.thumbnail }}?20160202{% else %}/assets/image/thumbnail.png?1{% endif %}" width="100%" height="auto")
      .card-block
        %h5.card-title
          %a(href="{{ post.url | prepend: site.baseurl }}")
            {{ post.title }}
        %p
          %small
            %i.fa.fa-hashtag
            {{ post.category }}
          %small
            %i.fa.fa-clock-o
            {{ post.date | date: '%Y/%m/%d' }}

  {% endfor %}

.col-sm-8.col-sm-offset-2.col-xs-12
  %hr
  .text-xs-center
    %a.btn.btn-primary-outline.btn-block(href="/archives/")
      %i.fa.fa-th
      More posts
