---
layout: page
title: Archive
permalink: /archive/
---

{% assign counter = 0 %}
%div
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%Y %m" %}
  {% assign prevyear = post.previous.date | date: "%Y %m" %}

  {% assign counter = counter | plus: 1 %}

  %div
  {% if thisyear != prevyear %}
    %h2(id='{{ post.date | date: "%Y-%m" }}') {{ thisyear }}
    {% assign counter = 0 %}
  {% endif %}

  %article.article__short
    .article__short__status
      %span.article__short__status__item
        %i.fa.fa-clock-o
        {{ post.date | date: "%Y/%m/%-d" }}
      %span.article__short__status__item
        %i.fa.fa-tag
        {{post.category}}

    %p
      %a(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}

{% endfor %}
