---
layout: default
---

%div.container
{% for post in site.posts %}
  %div.card.card-block
    %p.post-meta='{{ post.date | date: "%b %-d, %Y" }}'

    %h2
      %a.post-link(href='{{ post.url | prepend: site.baseurl }}')='{{ post.title }}'
{% endfor %}