---
layout: default
---

%section.container
  .col-md-7.col-md-offset-1
    .h4 Latest Posts
    %hr
    %div
    {% for post in site.posts limit:8 %}
      .article__short
        .article__short__status
          %span.article__short__status__item
            %i.fa.fa-clock-o
            {{ post.date | date: "%Y/%m/%-d" }}
          %span.article__short__status__item
            %i.fa.fa-tag
            {{post.category}}

        %p
          %a(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}

    {% endfor %}

    .text-xs-center
      %hr
      %a.btn.btn-primary(href='/archive/')
        %i.fa.fa-list.fa-fw
        More posts
      %hr

  .col-md-3
    .h4 Categories
    %hr
    %div
    {% for category in site.categories %}
      %span.label.label-default
        %div {{ category.first/ }} ({{ category.last.size }})
    {% endfor %}

    %hr
    .h4 Archive
    {% assign counter = 0 %}
    %hr
    %div
    {% for post in site.posts %}
      {% assign thisyear = post.date | date: "%Y %m" %}
      {% assign prevyear = post.previous.date | date: "%Y %m" %}
      {% assign counter = counter | plus: 1 %}
      %div
      {% if thisyear != prevyear %}
        %li
          %a(href='/archive/#{{ post.date | date:"%Y-%m" }}') {{ thisyear }} ({{ counter }})
        {% assign counter = 0 %}
      {% endif %}
    {% endfor %}
