.col-xs-12
  %hr
  .container
    .col-sm-6.text-sm-left.text-xs-center
      %p &copy; blog.makky.io
    .col-sm-6.text-sm-right.text-xs-center
      %a{href: 'https://twitter.com/_Makky_', target: '_brank'}
        %i.fa.fa-twitter.fa-2x.fa-fw
      %a{href: 'https://www.facebook.com/masaki.kobayashi.1485', target: '_brank'}
        %i.fa.fa-facebook.fa-2x.fa-fw
      %a{href: 'https://github.com/makky3939', target: '_brank'}
        %i.fa.fa-github.fa-2x.fa-fw