<hr />
<div class='row'>
  <div class='col-xs-12'>
    <ul class="list-inline">
      <li class="list-inline-item">
        &copy; 2016 makky.io.
      </li>
      <li class="list-inline-item">
        <a href='/'>Top</a>
      </li>
      <li class="list-inline-item">
        <a href='/archives/'>Archives</a>
      </li>
      <li class="list-inline-item">
        <a href='/about/'>About</a>
      </li>
      <li class="list-inline-item">
        <a href='/styleguide/'>Styleguide</a>
      </li>
    </ul>
  </div>
</div>
