%nav.navbar.navbar-light.bg-faded
  .container
    .navbar-nav
      %a.navbar-brand(href='{{ site.baseurl }}/')
        {{ site.title }}

    .navbar-nav.pull-right
      %a.nav-item.nav-link(href='{{ site.baseurl }}/about/')
        About