%meta{charset: 'utf-8'}
%meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
%meta{name: 'viewport', content: 'width=device-width', 'initial-scale': '1'}
%meta{name: 'google-site-verification', content: 'J9ufqzow1A2hCXYFnsbjhCZs2ASSbvKrtSgNg1S-Rjs' }
%meta{content: "{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}", name: "title"}
%meta{property: "og:title", content: "{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"}
%meta{name: 'description', content: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} | {% endif %}{{ site.description }}"}
%meta{content: "Makky, Web, JavaScript, Photo{% if page.title %}, {{ page.category }}{% endif %}", name: 'keywords'}
%meta{property: "og:type", content: "blog"}
%meta{property: "og:description", content: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} | {% endif %}{{ site.description }}"}
%meta{property: "og:site_name", content: "{{ site.title }}"}
%meta{property: "og:url", content: "{{site.url}}{{page.url}}"}

%meta{content: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} | {% endif %}{{ site.description }}", name: "twitter:card"}
%meta{content: "@_Makky_", name: "twitter:site"}

%title {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}

%link{rel: "alternate", href: "{{site.url}}{{page.url}}", hreflang: "ja_JP"}

%link{rel: 'apple-touch-icon', sizes: '57x57', href: '/assets/image/apple-touch-icon-57x57.png'}
%link{rel: 'apple-touch-icon', sizes: '114x114', href: '/assets/image/apple-touch-icon-114x114.png'}
%link{rel: 'apple-touch-icon', sizes: '72x72', href: '/assets/image/apple-touch-icon-72x72.png'}
%link{rel: 'apple-touch-icon', sizes: '144x144', href: '/assets/image/apple-touch-icon-144x144.png'}
%link{rel: 'apple-touch-icon', sizes: '60x60', href: '/assets/image/apple-touch-icon-60x60.png'}
%link{rel: 'apple-touch-icon', sizes: '120x120', href: '/assets/image/apple-touch-icon-120x120.png'}
%link{rel: 'apple-touch-icon', sizes: '76x76', href: '/assets/image/apple-touch-icon-76x76.png'}
%link{rel: 'apple-touch-icon', sizes: '152x152', href: '/assets/image/apple-touch-icon-152x152.png'}
%link{rel: 'apple-touch-icon', sizes: '180x180', href: '/assets/image/apple-touch-icon-180x180.png'}
%link{rel: 'icon', type: 'image/png', href: '/assets/image/favicon-192x192.png', sizes: '192x192'}
%link{rel: 'icon', type: 'image/png', href: '/assets/image/favicon-160x160.png', sizes: '160x160'}
%link{rel: 'icon', type: 'image/png', href: '/assets/image/favicon-96x96.png', sizes: '96x96'}
%link{rel: 'icon', type: 'image/png', href: '/assets/image/favicon-16x16.png', sizes: '16x16'}
%link{rel: 'icon', type: 'image/png', href: '/assets/image/favicon-32x32.png', sizes: '32x32'}
%meta{name: 'msapplication-TileColor', content: '#00aba9'}
%meta{name: 'msapplication-TileImage', content: '/assets/image/mstile-144x144.png'}

%meta{property: "og:locale", content:"ja_JP"}
%meta{property: "fb:admins", content: "100002886134581"}
%meta{property: "fb:app_id", content: "129245867430558"}
%meta{property: "og:image", content: "http://blog.makky.io{% if page.thumbnail %}{{ page.thumbnail }}?20160202{% else %}/assets/image/webclip.png?1{% endif %}"}


%meta{name: 'twitter:card', content: 'summary'}
%meta{name: 'twitter:site', content: '@_Makky_'}
%meta{name: "twitter:title", content: "{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"}
%meta{name: "twitter:description", content: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} | {% endif %}{{ site.description }}"}
%meta{name: "twitter:image", content: "http://blog.makky.io{% if page.thumbnail %}{{ page.thumbnail }}?20160202{% else %}/assets/image/webclip.png?1{% endif %}"}


%link{rel: 'stylesheet', href: '{{ "/assets/css/main.css" | prepend: site.baseurl }}'}
%link{rel: 'canonical', href: '{{ page.url | replace: "index.html", "" | prepend: site.baseurl | prepend: site.url }}'}
%link{rel: 'alternate', type: 'application/rss+xml', title: '{{ site.title }}', href: '{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}'}
%script{async: true, src: '{{ "/assets/js/app.js" | prepend: site.baseurl }}'}
%script{async: true, src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'}
%script{"data-ad-client": "ca-pub-5501734840184095", async: true, src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
