body
  -webkit-text-size-adjust: 100%
  -webkit-font-feature-settings: "kern" 1
  -moz-font-feature-settings: "kern" 1
  -o-font-feature-settings: "kern" 1
  font-feature-settings: "kern" 1
  font-kerning: normal
  color: #3A3A3A !important
  background: #FCFDFF !important
  font-family: "メイリオ", Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'M+ 1P', sans-serif

table
  @extend .table
  @extend .table-bordered

blockquote
  @extend .blockquote

.card,
.card-img-top
  border-radius: 0

.card
  h1, h2, h3, h4, h5, h6
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  p
    margin: 0

  h1, h2, h3, h4, h5, h6, p
    color: #666 !important

.card-img-top
  padding-top: 62.5%
  background-size: cover

a.card
  color: #666 !important
  &:hover
    text-decoration: none

h1, h2, h3, h4, h5, h6
  color: #3A3A3A !important

a,
.btn-link
  color: #1B94C4 !important
