---
layout: default
---

%header.jumbotron
  .container
    .col-md-8.col-md-offset-2
      %h1="{{ page.title }}"
      .row
        .col-xs-6.text-xs-left
          %i.fa.fa-tag
          {{page.category}}
        .col-xs-6.text-xs-right
          %i.fa.fa-clock-o
          {{ page.date | date: "%b %-d, %Y" }}

%section
  .container
    .col-md-8.col-md-offset-2.post
      %article="{{ content }}"