---
layout: default
---

<article class='col-md-8 col-md-offset-2 col-xs-12'>
  <header>
    <nav>
      <a href='/'>m</a>
    </nav>
    <h1 class='text-xs-left'>{{page.title}}</h1>
    <div class='text-xs-left'>
      <span>
        #{{ page.category }}
      </span>
      <span>
        <i class='fa fa-clock-o'></i>
        {{ page.date | date: '%Y/%m/%d' }}
      </span>
    </div>
    <hr />
    <!-- blog.makky.io-post-head -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-5501734840184095"
      data-ad-slot="7598484922"></ins>
    <hr />
  </header>

  <section>{{ content }}</section>

  <footer>
    <hr />

    <div class='row'>
      <div class='col-xs-12 text-xs-center'>
        <div class='article-footer-share'>
          <div id='fb-root'></div>
          <span>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="_Makky_">Tweet</a>
          </span>
          <span>
            <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
          </span>
          <span>
            <div class="fb-like" data-href="http://blog.makky.io" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          </span>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-12'>
        <h2>Next post</h2>
        {% if page.next %}
          <a class='btn btn-primary-outline btn-block' href='{{page.next.url}}'>{{page.next.title}}</a>
        {% else %}
          <button class='btn btn-secondary btn-block' disabled='true'>Comming soon.</a>
        {% endif %}
      </div>
      <div class='col-md-6 col-xs-12'>
        <h2>Previous post</h2>
        {% if page.previous %}
          <a class='btn btn-primary-outline btn-block' href='{{page.previous.url}}'>{{page.previous.title}}</a>
        {% else %}
          <button class='btn btn-secondary btn-block' disabled='true'>There is none</a>
        {% endif %}
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-xs-12'>
        <h2>Related posts</h2>
        {% for post in site.categories[page.category] limit:5 %}
        <li>
          <a class='' href='{{post.url}}'>{{post.title}}</a>
        </li>
        {% endfor %}
      </div>
      <div class='col-md-6 col-xs-12'>
        <h2>Recent posts</h2>
        {% for post in site.posts limit:5 %}
          <li>
            <a class='' href='{{post.url}}'>{{post.title}}</a>
          </li>
        {% endfor %}
      </div>
    </div>

    <!-- <div class='row'>
      <div class='col-xs-12'>
        <h2>Author</h2>
        <div class='row'>
          <div class='col-md-6 col-md-offset-3'>
            <div class='card'>
              <div class='card-block'>
                <div class='row'>
                  <div class='col-md-4'>
                  </div>
                  <div class='col-md-8'>
                    <h3>Masaki Kobayashi</h3>
                    <p>
                      WebSite:
                      <a href='http://makky.io'>makky.io</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class='row'>
      <div class='col-xs-12'>
        <p>Archives</p>
      </div>
    </div> -->
    <hr />

    <div class='row'>
      <div class='col-md-6 col-xs-12 text-xs-center'>
        <!-- blog.makky.io-post1 -->
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-5501734840184095"
          data-ad-slot="8210198969"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <!-- <ins class="adsbygoogle" style="overflow:hidden;display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5501734840184095" data-ad-slot="8210198969"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script> -->
      </div>

      <div class='col-md-6 col-xs-12 text-xs-center'>
        <!-- blog.makky.io-post2 -->
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-5501734840184095"
          data-ad-slot="3640398567"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <!-- <ins class="adsbygoogle" style="overflow:hidden;display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5501734840184095" data-ad-slot="3640398567"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script> -->
      </div>
    </div>
  </footer>
</article>
